<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" >
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d [%t] %p %logger - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="com.baomidou" level="INFO"></logger>

    <root level="INFO">
        <appender-ref ref="Console"/>
    </root>
</configuration>