##声明一个变量:this并且设置值为:Velocity
#set( $this = "xhsgg12302")
##使用设置的变量值
我去你妈的@$this
##for打印集合信息数据
#foreach( $name in $list )
姓名:$name!
#end
##声明一个布尔值
#set( $condition = true)
## if else分支判断
#if ($condition)
The condition is true!
#else
The condition is false!
#end
姓名:$name,年龄:$age,性别:$sex
#foreach( $p in $listMap )
项目:$p.name,价格:$p.price;
#end