<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="_framework.crawler4j.mbts.mapper.StatsGovDataMapper">
    
    <select id="selectByName" parameterType="java.lang.String" resultType="map">
        select * from stats_gov_data where sgd_name like  concat('%',#{name},'%')
    </select>


    <resultMap id="BaseResultMap" type="_framework.crawler4j.mbts.StatsGovData" >
        <result column="sgd_id" property="sgdId" />
        <result column="sgd_name" property="sgdName" />
        <result column="sgd_doc_id" property="sgdDocId" />
        <result column="sgd_father_doc_id" property="sgdFatherDocId" />
        <result column="sgd_depth" property="sgdDepth" />
        <result column="sgd_code" property="sgdCode" />
        <result column="sgd_classifier_code" property="sgdClassifierCode" />
        <result column="sgd_created_time" property="sgdCreatedTime" />
        <result column="sgd_source_url" property="sgdSourceUrl" />
        <result column="sgd_father_url" property="sgdFatherUrl" />
        <result column="sgd_remark" property="sgdRemark" />
    </resultMap>

    <sql id="Base_Column_List">
        sgd_id,
                sgd_name,
                sgd_doc_id,
                sgd_father_doc_id,
                sgd_depth,
                sgd_code,
                sgd_classifier_code,
                sgd_source_url,
                sgd_father_url,
                sgd_remark
    </sql>

    <insert id="insertBatch" parameterType="_framework.crawler4j.mbts.StatsGovData">
        insert into stats_gov_data  
            (sgd_name,sgd_doc_id,sgd_father_doc_id,sgd_depth,sgd_code,sgd_classifier_code,
             sgd_source_url,sgd_father_url,sgd_remark ) 
        values 
        <foreach collection ="list" item="data"  separator =",">
            (#{data.sgdName}, #{data.sgdDocId}, #{data.sgdFatherDocId}, #{data.sgdDepth},#{data.sgdCode},
            #{data.sgdClassifierCode}, #{data.sgdSourceUrl}, #{data.sgdFatherUrl}, #{data.sgdRemark})
        </foreach >
    </insert>

</mapper>